body {
    background-color: #cfc2f1;
    font-family: "Roboto", serif;
}

span {
    color: gray;
}

#flex-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    align-content: center;
    justify-content: center;
    row-gap: 0px;
    margin: auto;
    margin-top: 200px;
    border: solid black 10px;
    border-radius: 10px;


}



img {
    max-width: 100%;
    max-height: 100%;
}

#textArea {
    background-color: white;
    padding: 15px;
}

#imageArea {
    height: 500px
}