html {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

body {
    box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.header-text {
    margin-left: 264px;
}

h2.header-text {
    margin-top: 96px;
}

.header-container{
    justify-self: center;
    margin-left: -640px;
}


.text-container,
.header-text {
    width: 415px;
    height: 50px;
    line-height: 30px;
}

.top-container {
    width: 100vw;
    height: 50vh;
    border-bottom: 8px solid #999999;

}

span {
    font-weight: 800;
    color: #009966;
    ;
}

.bottom-container {
    width: 100vw;
    height: 50vh;
    background-color: #666666;
    line-height: 28.8px;

}

.card-container {
    width: 808px;
    height: 312px;
    justify-self: center;
    background-color: white;
    margin-top: 60px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-bottom-width: 8px;

}

.highlight-text {
    border-bottom: 8px solid #CC9900;
    background: #FFBF00;
    width: 398px;
    height: 45px;
    margin-left: -15px;
    padding:7px;
    transform: translateY(8px);



}
.text-area{
    margin: 30px;
}