body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", serif;
  }

  .card-container {
    position: relative;
    max-width: 500px;
    padding: 20px;
    margin:400px

  }

  .card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    position:relative;
    width: 400px;
    margin-left:200px;
    
   
  }

  .heading {
    background-color: #FF1493;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
    position: absolute;
    top: -20px;
    left: 115px;
   
  }

  .content {
    margin-top: 40px;
    line-height: 1.6;
    font-size: 16px;
    color: #333;}